.DS_Store
*.env
__pycache__
.venv
logs

target
.vscode
build
.gradle
_archive
node_modules
*.log
_lib
otel-workshop-trading-instruqt
_frontend
obj
*.sln

pyproject.toml
uv.lock
.python-version

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties