<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="otel-otlp"
        class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>false</captureExperimentalAttributes>
        <!-- include src origin info -->
        <captureCodeAttributes>true</captureCodeAttributes>
        <!-- include slf4j key/value arguments -->
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>
    <root level="WARN">
        <appender-ref ref="otel-otlp" />
    </root>

</configuration>